body{
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: darkslategray;
    border: 1px solid blueviolet;
}

.boxResult{
    width: 100%;
    height: 3rem;
    background-color: darkslategray;
    border: 1px solid blueviolet;
    font-size: 2rem;
    text-align: right;
    color: lightsalmon;
}

.box{
    flex-basis: calc(25% - 6px);
    background-color: darkslategray;
    border: 1px solid blueviolet;
    margin: 2px;
    height: 3rem;
    display: flex;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    color: lightsalmon;
}

.op{
    background-color: darkslategray;
    border: 1px solid blueviolet;
}

.cl{
    background-color: darkslategray;
    border: 1px solid blueviolet;
}

.eq{
    background-color: darkslategray;
    border: 1px solid blueviolet;
}